@model projetoLojaAsp.Models.Funcionario
@{
    ViewData["Title"] = "Login de Funcionarios";
}

<h1>Login</h1>

<form asp-controller="LoginFuncionario" asp-action="LoginFuncionario" method="post">
    <div>
        <label>
            Email
        </label>
        <input type="email" name="email" required></input>
    </div>
    <div>
        <label>
            Senha
        </label>
        <input type="password" name="password" required />
    </div>
    <button type="submit">Login</button>
</form>

